@import "tailwindcss";

/*imports redhat mono*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

/*applies it to the body and html elements*/
html, body {
  font-family: 'Red Hat Mono', monospace;
  background-color: #f3f6ff;
  color: #333333;
  margin: 0;
  padding: 0;
}

/*applies it to all input boxes, buttons, selects everything*/
input, button, select, textarea {
  font-family: 'Red Hat Mono', monospace;
}