---
import '../styles/global.css';
import Titlebar from '../components/titlebar.astro';

const { title = "Explicanda" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>

    <Titlebar />

    <main class="hero-container">
        <slot />
    </main>

</body>
</html>

<style is:global>
    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 60px);
        margin-top: 60px;
        box-sizing: border-box;
    }
</style>